<div class='header-spacer'></div>

<section class='outer px2 cart' data-component='accounts'>
  <div class='container--m mha ac'>
    <h2 class='mb05 mt1 serif'>Your Bag</h2>

    <hr class='cgl' />

    {% if cart.item_count > 0 %}
      <form action="/cart" method="post" novalidate class='mb1 pb1'>

        {% for item in cart.items %}
          <div class='cart-drawer__item'>
            <div class='f aic'>
              <a href='{{ item.url }}'>
                <img src='{{ item | img_url: '300x' }}' />
              </a>
              <div class='__content pl1 f fill-h ais al jcb'>
                <div>
                  <a href='{{ item.url }}' class='serif mv0 p mv0'>{{ item.product.title }}</a>
                  <div class='small sans track mt025 mb05 book'>{{ item.price | money }}</div>
                  <div class='xsmall sans caps track cm mv025 book'>{{ item.variant.title | split: ':' | first }}</div>
                </div>

                <a class='cart-drawer__item__remove no-ajax' href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                  <svg viewBox="0 0 16 16" width="16" height="16" fill="none" stroke="currentcolor" stroke-width="3" style="display:inline-block;vertical-align:middle;overflow:visible;"><path d="M1.0606601717798212 1.0606601717798212 L14.939339828220179 14.939339828220179"></path><path d="M14.939339828220179 1.0606601717798212 L1.0606601717798212 14.939339828220179"></path></svg>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}

        <hr class='cgl' />

        <div class='f aie jce mb1 mt2'>
          <h6 class='book demi sans caps small caps mb0'>Subtotal:</h6>
          <h4 class='book book p2 sans caps ml05 caps ml0 mb0'>{{ cart.total_price | money }}</h4>
        </div>
        <div class='f jce aic'>
          <div class='mr1'>
            <p class='small mt0'>{{ 'cart.general.shipping_at_checkout' | t }}</p>
          </div>
          <div class='cart__button'>

            <button  type="submit"  name='checkout' class="button button--shadow rel f aic jcc sans caps track button--orange fill-h" role="button">
              <span class="f aic jcc">Check Out</span>
            </button>
          </div>
        </div>

      </form>

    {% else %}
      <div class='mb1 pb1 ac'>
        <p class='i'>Your cart is empty!</p>
        {%
        include 'button' with
        href: '/',
        cta: 'Continue Shopping',
        className: 's5 mb2 '
        %}
      </div>
    {% endif %}

  </div>
</section>
