<div class='hero__blue' style='background-color: ##005C88; width: 100%; height: 100%; position: absolute; top: 0; left: 0;'>
  <div class='hero__blue_logo f jcc aic'>
    {% include 'icon-logotype' %}
  </div>
</div>

{% assign fields = shop.metafields.data %}

<section class='' style="min-height: 150vh" data-component='pages' data-local='{{ fields['fancy_content'] }}'></section>


    {% comment %}
<div class='bgw referral'>
  <div class='container--l container--c bgw' style="padding-top: 50px;">
      <div class='f fw fa referral'>
        <div class='f jcc aic referral__block' style='background-image: url({{ 'refer_background.jpg' | asset_url }})'>
          <div class='f jcc aic referral__inner px1'>
            <div class='ac'>
              <h4 class='cw serif mb0 pb0 mt0'>Got a travel buddy?</h4>
              <p class='cw pt0 ph2 p2 container--s'>Refer a friend and you'll both get $50 off your next purchase.</p>
              <a href="/pages/friends" class="button button--light no-ajax rel f aic jcc sans caps track" role="button">
                <span class="f aic jcc friendbuy-dCg-mSo">Refer a Friend</span>
              </a>
            </div>
          </div>
          <img src="{{ 'refer_background.jpg' | asset_url }})" />
        </div>
        <dic class='f jcc aic referral__block' style='background-image: url({{ 'refer__illustration.jpg' | asset_url }})'>
          <img src="{{ 'refer__illustration.jpg' | asset_url }})" />
      </div>
  </div>
</div>
  {% endcomment %}

{% comment %} <div class="ssw-instagram-feed-wrap container">
    <div class="section clearfix ac">

      <a href="https://www.instagram.com/woolandoak/" target="_blank"><img class='insta-header' style="max-width: 380px;" src="{{ 'instagram.png' | asset_url }})" /></a>
   <div
     class="yotpo yotpo-pictures-widget"
     data-gallery-id="5cb794d04fbc2716f7d6df5b">
</div>
    </div>
</div> {% endcomment %}