<div class="f fw jcb aic account">
  <div class='account__col rel'>
    <div class="abs fill obj-fit fill-h fill-v" style="background-image: url({{ 'account_login.jpg' | asset_url }})"></div>
  </div>
  <div class="account__col aic f" data-page="login" data-component='accounts'>
    <div class='account-login__recover px2 container--s mha account-dialog hide mha js-recover-dialog'>
      <h2 class='h3 mb05 serif'>Forgot your password?</h2>

      {% form 'recover_customer_password', class: 'mha' %}

        {% if form.posted_successfully? %}
          <span class='mb1 js-recover-success'>Success! Check your email for a link to reset your password.</span>
        {% else %}
          <p class='s16'>Enter your email and we will send you a password reset link.</p>
          {%
          include 'input-text' with
          label: 'Email',
          placeholder: 'Email',
          name: 'email',
          type: 'email'
          %}

          {% if form.errors %}
            {% for field in form.errors %}
              {% if field == 'form' %}
                <p class='small'>{{ form.errors.messages[field] }}</p>
              {% else %}
                <p class='small'>{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}.</p>
              {% endif %}
            {% endfor %}
          {% endif %}

          <div class='mt1'>
            {%
            include 'button' with
            tag: 'button',
            type: 'submit',
            cta: 'Reset password',
            className: 'x no-ajax'
            %}
          </div>
        {% endif %}

      {% endform %}

      <a href='/account/login' class='inline-block mt1 underline underline--black js-recover-cancel no-ajax'>Cancel</a>
    </div>
    <div id="login_form" class="mha container--s px1 js-login-dialog">
      <h1 class="h3 mb05 serif">{{ 'customer.login.title' | t }}</h1>

      {% form 'customer_login', class: 'mha' %}
        {% assign label = 'Email' %}
        {% assign name = 'customer[email]' %}
        {% assign type = 'email' %}
        {% assign placeholder = 'Email' %}
        {% include 'input-text' %}

        {% assign label = 'Password' %}
        {% assign name = 'customer[password]' %}
        {% assign type = 'password' %}
        {% assign placeholder = 'Password' %}
        {% include 'input-text' %}

        {% if form.errors %}
          {% for field in form.errors %}
            {% if field == 'form' %}
              <p class="p0 c3 align-c">{{ form.errors.messages[field] }}</p>
            {% else %}
              <p class="p0 c3 align-c">{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}</p>
            {% endif %}
          {% endfor %}
        {% endif %}

        <div class="mt05">
          <button onClick='(function({dataLayer.push({'event': 'login'})}))' type="submit" class="button button--shadow rel f aic jcc sans caps track button--orange fill-h" role="button">
            <span class="f aic jcc">Log In</span>
          </button>
        </div>
      {% endform %}

      <p class='s1'>
        <span class="mt1 f jcs aic">
          Don't have an account? <a class="block ml05 underline underline--black" href="/account/register">Sign up</a>
        </span>
        <a class='mt1 inline-block underline underline--black no-ajax js-recover-trigger' href='#recover'>Forgot password?</a>
      </p>
    </div>

    <div id="recover" class="account-entry-form hide mha">
      <h2 class="h2 mb05">Forgot your password?</h2>
      <p>Enter your email and we will send you a password reset link.</p>

      <div class="inline-block">
        {% form 'recover_customer_password', class: 'mha' %}

          {% if form.posted_successfully? %}
            <span class="mb1 recovery-success">Success! Check your email for a link to reset your password.</span>
          {% else %}
            {% assign label = 'Email' %}
            {% assign name = 'customer[email]' %}
            {% assign type = 'email' %}
            {% include 'input-text' %}

            {% if form.errors %}
              {% for field in form.errors %}
                {% if field == 'form' %}
                  <p class="p0 c3">{{ form.errors.messages[field] }}</p>
                {% else %}
                  <p class="p0 c3">{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}.</p>
                {% endif %}
              {% endfor %}
            {% endif %}

            <div class="mt2">
              <button type="submit" class="button">Reset Password</button>
            </div>
          {% endif %}

        {% endform %}
      </div>

      <a href="#0" class="link block mt1" id="cancel_recover">Cancel</a>
    </div>

  </div>
</div>
